h1 {
font-size: 50px;
font-family:sans-serif;
text-align: center;
}

.headerP {
font-size: 25px;
text-align: center;
}


/* background for questions purple and add a hover 
/* ul needs to be numbered 1-4 
/* bolded questions 
/ 